<!--<article>-->
<!--    <div>-->
<!--        <a href="{{ .Permalink }}">{{ .Title }} {{ if eq .Draft true }} <span class="test">DRAFT</span>{{ end }}</a>-->
<!--        &#45;&#45; {{ .Date.Format "Mon, 2 Jan, 2006" }}-->
<!--    </div>-->
<!--</article>-->

<tr>
    <td class="padded" style="width:20%">
        {{ .Date.Format "2006 Jan 2, Mon" }}
    </td>
    <td class="padded">
        <a href="{{ .RelPermalink }}" class="link black dim">
            {{ .Title }}
        </a>
    </td>
</tr>

