.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.padded {
    padding: 1%;
}

details > summary {
    list-style: none;
}
details > summary::-webkit-details-marker {
    display: none;
}